<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <div>
      <h1>User stuff</h1>
      <p>The mapped shib attributes will display here.</p>
      <ul>
          <li>username: {{ user.username }}</li>
          <li>name: {{ user.first_name }} {{ user.last_name }}</li>
          <li>email: {{ user.email }}</li>
      </ul>
    </div> 
    <div>
      <h1>User groups</h1>
      <ul>
          {% for group in user.groups.all %}
            <li> {{ group.name }}</li>
          {% endfor %}
      </ul>
    </div>
</body>
</html>


